body {
    background-color: #F1F8FD !important;
    text-align: center;
    margin: 0;
}

.pagelogo {
    display: block;
    margin-top: 30px auto;
    margin-left: 8%;
    margin-bottom: 10px auto;
    width: 180px;
}

@font-face {
    font-family: 'BitBit';
    src: url('/static/fonts/BitBit.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RoundMo';
    src: url('/static/fonts/RoundMo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Galmuri9';
    src: url('/static/fonts/Galmuri9.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MoneyGraphy';
    src: url('/static/fonts/MoneyGraphy.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tenada';
    src: url('/static/fonts/Tenada.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    z-index: -1;
}

/* 기본세팅 */
.belt {
    width: 100vw;
    height: 100px;
    opacity: 0.6;
    background-size: auto 100%;
    background-repeat: repeat-x;
    animation: move-left 13s linear infinite;
    animation-fill-mode: forwards;
}

.belt1 {
    background-image: url("../../static/images/image1.png");
}

.belt2 {
    background-image: url("../../static/images/image4.png");
}

.belt3 {
    background-image: url("../../static/images/image2.png");
}

.belt4 {
    background-image: url("../../static/images/image4.png");
}

.belt5 {
    background-image: url("../../static/images/image3.png");
}

/* 짝수= 반대 방향 */
.belt.reverse {
    animation: move-right 16s linear infinite;
    animation-fill-mode: forwards;
}

/* 왼쪽으로 */
@keyframes move-left {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200% 0;
    }
}

/* 오른쪽으로 */
@keyframes move-right {
    from {
        background-position: 200% 0;
    }
    to {
        background-position: 0 0;
    }
}

/* mylabel */
.mylabel {
    position: fixed;
    top: 20px;
    right: 20px;
    font-family: 'RoundMo', sans-serif;
    font-size: 22px;
    color: #5a6486;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

/* 마이페이지로 연결되는 아이콘 */
.mylabel-icon-wrapper {
    width: 40px;
    height: 40px;
    margin-left: 12px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.mylabel-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.mylabel:hover .mylabel-icon {
    filter: brightness(0) saturate(100%) invert(85%) sepia(10%) saturate(300%) hue-rotate(180deg);
    transition: filter 0.3s ease;
}

.mylabel:hover {
    color: #c1c5d3;
}

.mylabel:hover .mylabel-icon-wrapper {
    background-color: rgba(63, 122, 213, 0.5);
}

/* 툴팁 표시 */
.mylabel:hover::after {
    content: '마이페이지';
    position: absolute;
    bottom: -25px;
    left: 0;
    padding: 5px;
    background-color: #7c7e81;
    color: white;
    font-size: 13px;
    font-family: 'Galmuri9', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
}

.guest-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.guest-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    color: #5d5d5e;
    font-size: 21px;
    font-family: 'RoundMo', sans-serif;
    font-weight: normal;
}

.guest-modal-content p {
    margin-bottom: 30px;
    margin-top: 20px;
    line-height: 1.5;
}

.guest-modal-btn {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #E57157;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'RoundMo', sans-serif;
    font-weight: normal;
}

.guest-modal-btn:hover {
    background-color: #f15d3e;
    color: #ffe3e2;
}
